/* font from google */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* common styles */
* {
  margin: 0px;
  font-family: "Work Sans", sans-serif;
}
.icon {
  width: 2rem;
  margin-left: 0.5rem;
}
.btn-text {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.content-title {
  font-size: 3rem;
  font-weight: 700;
  color: #0b0223;
  font-weight: 700;
}
.color-text {
  font-size: 3rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-pera {
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
}

/* header styles */
/* nav styles */
.nav {
  padding: 2rem 5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  align-items: center;
}
.nav-title .color-title {
  font-size: 2.8rem;
  -webkit-text-fill-color: transparent;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  margin-left: 1.25rem;
}
.menu-items ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.menu-items a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
}
.btn-follow-us {
  border-radius: 0.5rem;
  background: #0b02231a;
  width: 16rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn-follow-us span {
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner-content {
  background-image: url(./images/Group\ 14.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-content h2 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-content h1 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
}
.banner-content li {
  list-style: none;
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: lowercase;
}
.banner-btn {
  display: inline-flex;
  align-items: flex-start;
  gap: 1.25rem;
  margin-top: 2rem;
}
.btn-singin {
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 1.3rem 2.5rem;
  border: none;
}
.btn-go {
  border-radius: 3rem;
  background: #4ec5f7;
  padding: 1.3rem 2.5rem;
  border: none;
}

/* main styles */
/* funny-videos styles */
.funny-videos-content {
  text-align: center;
  margin-top: 5rem;
}
.videos-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0rem 5rem 7rem;
}
.video {
  margin-top: 3rem;
}
.video-tham {
  border-radius: 1rem;
  width: 16rem;
  height: 18rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-text {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  width: 16rem;
}

/* funny-videos hover styles */
.hover-item {
  width: 7rem;
}
.hover-item p {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
  font-weight: 600;
}
/* play instantly/anywhere */
.play-instantly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
}
.play-content {
  width: 22rem;
}
.play-img-container {
  position: relative;
}
.play-img-big {
  border-radius: 0.5rem;
  width: 35rem;
  height: 46rem;
}
.play-img-small {
  position: absolute;
  bottom: -0.1rem;
  left: -7rem;
}

/* games-category styles */
.games-category {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 84rem;
  height: 11rem;
  margin: 7rem auto;
}
.category {
  height: 5rem;
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
}
.cate-icon {
  width: 3.5rem;
  height: 3.5rem;
}
.cate-name {
  color: #0b0223;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1rem;
}

/* hover games-category styles */
.category:hover {
  border: 0.125rem solid #ff42a5;
}
.category:hover .cate-name {
  color: #ff42a5;
}

/* footer styles */
footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: #0b0223;
  text-align: center;
  height: 30rem;
  align-items: center;
}
.brand-name h2 {
  color: #fff;
  padding-top: 5rem;
}
.footer-menu ul {
  list-style: none;
  display: flex;
  gap: 3.5rem;
  justify-content: center;
}
.footer-menu a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.social-link ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}
.social-links a {
  text-align: center;
}
.other-opt ul {
  list-style: none;
  display: flex;
  gap: 3.5rem;
  justify-content: center;
}
.other-opt a {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

small {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
/* responsive parts */
/* small screen */

@media screen and (max-width: 576px) {
  * {
    font-size: 10px;
  }
  /* nav styles */
  .nav {
    display: block;
    padding: 2rem 4rem 0rem;
    justify-content: center;
    text-align: center;
  }
  .menu-items ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 4rem;
  }
  .banner {
    flex-direction: column-reverse;
    padding: 3rem;
  }
  .banner-img img {
    width: 90vw;
    margin-bottom: 1.8rem;
  }
  /* funny-videos styles */
  .funny-videos-content .color-text {
    display: block;
  }
  .videos-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .video {
    margin: 3rem auto 0rem;
  }
  /* play instantly/anywhere */
  .play-instantly {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-bottom: 5rem;
  }
  .play-img-big {
    width: 100%;
    height: 100%;
  }
  .play-img-big img {
    border-radius: 0.5rem;
    width: 30rem;
    height: 32rem;
  }
  .play-img-small img {
    position: absolute;
    bottom: -3rem;
    left: 3rem;
    width: 15rem;
    height: 17rem;
  }
  /* games-category styles */
  .games-category {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 30rem;
    margin: 10rem auto;
  }
  .cate-icon {
    width: 3rem;
    height: 3rem;
  }
  /* footer styles */
  footer {
    height: 45rem;
  }
  .footer-menu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .social-link ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .other-opt ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  small {
    width: 15rem;
  }
}
/* medium screen */
@media screen and (min-width: 577px) and (max-width: 960px) {
  /* nav styles */
  .nav {
    padding: 2rem 6rem 0rem;
    display: block;
    text-align: center;
  }
  .nav-title {
    margin-bottom: 1rem;
  }
  /* banner styles */
  .banner {
    flex-direction: column-reverse;
    padding: 3rem;
  }
  .banner-img img {
    width: 90vw;
    margin-bottom: 1.8rem;
  }
  /* funny-videos styles */
  .funny-videos-content .color-text {
    display: block;
  }
  .videos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .video {
    margin: 3rem auto 0rem;
  }
  /* play instantly/anywhere */
  .play-instantly {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-bottom: 5rem;
  }
  .play-img-big {
    width: 90%;
    height: 90%;
  }
  .play-img-big img {
    border-radius: 0.5rem;
    width: 25rem;
    height: 27rem;
  }
  .play-img-small img {
    position: absolute;
    bottom: -3rem;
    left: 3rem;
    width: 12rem;
    height: 15rem;
  }
  /* games-category styles */
  .games-category {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 26rem;
    margin: 10rem auto;
  }

  .cate-icon {
    width: 3rem;
    height: 3rem;
  }
  .cate-name {
    font-size: 1.125rem;
    padding: 1rem;
  }
  /* footer section styles */
  footer {
    height: 40rem;
  }
  .footer-menu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .social-link ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
